<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.MonsterMapper">
    <insert id="insert" parameterType="Monster"
            useGeneratedKeys="true" keyProperty="id">
        insert into monster (age, birthday, email, gender, name, salary) VALUES
            (#{age}, #{birthday}, #{email}, #{gender}, #{name}, #{salary})
    </insert>
    
    <select id="findMonsterByNameOrId" parameterType="Monster" resultType="Monster">
        select * from monster where id=#{id} or name=#{name}
    </select>
    
    <select id="findMonsterByName" parameterType="Monster" resultType="Monster">
        select * from monster where name like '%${value}%'
    </select>
    
    <select id="findMonsterByIdAndSalary" parameterType="map" resultType="Monster">
        select * from monster where id > #{id} and salary > #{salary}
    </select>
</mapper>